<div>
    <form (submit)="handleSubmit()" #form="ngForm">
        Id : <input #id="ngModel" type="number" required name="id" [(ngModel)]="filiere.id" />
        Libelle : <input #libelle="ngModel" type="text" minlength="2" required name="libelle" [(ngModel)]="filiere.libelle" />
        <button [disabled]="form.invalid">Modifier</button>
    </form>   
    <br> 
</div>