<div>
    <form (submit)="handleSubmit()" #form="ngForm">
        Id :
        <input #id="ngModel" type="number" required minlength="1" name="id" [(ngModel)]="filiere.id" />
        <button [disabled]="form.invalid">Supprimer</button>
    </form>
</div>