<div>
    <p>Id : {{module.id}}</p>
    <p>Libelle : {{module.libelle}}</p>
    <p>Date début : {{module.dateDebut}}</p>
    <p>Date fin : {{module.dateFin}}</p>
    <div>
        Formateur : 
        <p> Id : {{formateur.id}}</p>
        <p> Nom : {{formateur.nom}}</p>
        <p> Prenom : {{formateur.prenom}}</p>
    </div>
</div>



