
<div>
    <ol>
        <li><a [routerLink]="['/find-filiere']">Afficher filières</a> </li>
        <li><a [routerLink]="['/post-filiere']">Créer filière</a> </li>
        <li><a [routerLink]="['/update-filiere']">Modifier filière</a> </li>
        <li><a [routerLink]="['/delete-filiere']">Supprimer filière</a> </li>
    </ol>
</div>

<div>
    <ol>
        <li><a [routerLink]="['/find-module']">Afficher modules</a> </li>
        <li><a [routerLink]="['/post-module']">Créer module</a> </li>
        <li><a [routerLink]="['/update-module']">Modifier module</a> </li>
        <li><a [routerLink]="['/delete-module']">Supprimer module</a> </li>
    </ol>
</div>

<router-outlet></router-outlet>
