<div>
    <form (submit)="handleSubmit()" #form="ngForm">
        Id : <input #id="ngModel" type="number" required name="id" [(ngModel)]="module.id" />
        Date début : <input #id="ngModel" type="date" required name="date_debut" [(ngModel)]="module.dateDebut" />
        Date fin : <input #id="ngModel" type="date" required name="date_fin" [(ngModel)]="module.dateFin" />
        Libelle : <input #libelle="ngModel" type="text" minlength="2" required name="libelle" [(ngModel)]="module.libelle" />
        Id filière : <input #id="ngModel" type="number" required name="id_filiere" [(ngModel)]="module.filiere" />
        Id formateur : <input #id="ngModel" type="number" required name="formateur" [(ngModel)]="module.formateur" />
        <button [disabled]="form.invalid">Modifier</button>
    </form>   
    <br> 
</div>