<div>
    <p>Id : {{filiere.id}}</p>
    <p>Libelle : {{filiere.libelle}}</p>
    <div>
        Modules : 
        <p *ngFor="let module of modules">Id : {{module.id}} - Libelle : {{module.libelle}}</p>
    </div>
</div>



