<div>
    <form (submit)="handleSubmit()" #form="ngForm">
        Libelle :
        <input #libelle="ngModel" type="text" minlength="2" required name="libelle" [(ngModel)]="filiere.libelle">
        <button [disabled]="form.invalid">Ajouter</button>
    </form>
    <br>
</div>
